<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rxy博客</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
 <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom mb-3">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">首页</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">发布博客</a></li>

      </ul>
<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
        </form>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">登录</button>
                     <button type="button" class="btn btn-primary">注册</button>
                 </div>
    </header>
<main class="container bg-white rounded" style="width: 1000px ">
    <h1 style="font-size: 24px;">博客列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="col"><div class="card">
  <h5 class="card-header"><a href="#">Django零基础到项目实战</a></h5>
  <div class="card-body" style="height: 120px;">

      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p></div>
    <div class="card-footer text-body-secondary d-flex justify-content-between"  >
        <div><img src="{% static 'image/rxy.jpg' %}" class="rounded-circle" alt="" style="width: 25px">任选一 </div>
        <div>发布时间:明天</div>

  </div>
</div></div>
        <div class="col"><div class="card">
  <h5 class="card-header"><a href="#">Django零基础到项目实战</a></h5>
  <div class="card-body" style="height: 120px;">

      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p></div>
    <div class="card-footer text-body-secondary d-flex justify-content-between"  >
        <div><img src="{% static 'image/rxy.jpg' %}" class="rounded-circle" alt="" style="width: 25px">任选一 </div>
        <div>发布时间:明天</div>

  </div>
</div></div>
        <div class="col"><div class="card">
  <h5 class="card-header"><a href="#">Django零基础到项目实战</a></h5>
  <div class="card-body" style="height: 120px;">

      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p></div>
    <div class="card-footer text-body-secondary d-flex justify-content-between"  >
        <div><img src="{% static 'image/rxy.jpg' %}" class="rounded-circle" alt="" style="width: 25px">任选一 </div>
        <div>发布时间:明天</div>

  </div>
</div></div>

    </div>

</main>

</body>
</html>